{% load bootstrap %}

{% csrf_token %}

{{ group_form.title|bootstrap_horizontal }}
{{ group_form.description|bootstrap_horizontal }}
{{ group_form.group_type|bootstrap_horizontal }}
{{ group_form.organisers|bootstrap_horizontal }}
{% with person_form=organiser_form role='organisers' prefix='' %}
{% include 'contributors/person_quick_add.html' %}
{% endwith %}
{{ group_form.occurence|bootstrap_horizontal }}
{{ group_form.web_address|bootstrap_horizontal }}
{{ group_form.department_organiser|bootstrap_horizontal }}
