{% extends "base.html" %}

{% load faceted_navigation %}

{% block title %}Person Administration{% endblock %}

{% block content %}

    <h2>People administration</h2>

    <div class="container">
        <div class="row">
            <div class="col-xs-3">

            <ul class="nav nav-list well">
                <li><a href="{% url 'contributors-events' %}?date=future" class="">Talks  <span class="glyphicon glyphicon-ok filter-active"></span></a></li>
                <li><a href="{% url 'contributors-eventgroups' %}" class="">Series  <span class="glyphicon glyphicon-ok filter-active"></span></a></li>
                <li><a href="{% url 'contributors-persons' %}" class="filter-selected">People  <span class="glyphicon glyphicon-ok filter-active"></span></a></li>
            </ul>
            <strong>Filters</strong>
            <ul class="nav nav-list well">
                <li class="nav-header"><i class="icon-star"></i>Missing Information</li>
                <li><a href="{% facet_single_param missing='affiliation' %}" class="{% facet_selected missing='affiliation' %}">Affiliation <span class="glyphicon glyphicon-ok filter-active"></span></a> </li>
                <li><a href="{% facet_remove_all 'missing' %}" class="{% facet_has_selection param='missing' %}"><span class="glyphicon glyphicon-remove"></span>Remove Filter </a> </li>
            </ul>
        </div>

    {% if letter %}
    <h3>Showing Surnames beginning with '{{ letter|upper }}'</h3>
    {% endif %}

    <div class="col-xs-7">
    <a class="btn btn-primary navbar-btn" href="{% url 'create-person' %}"><span class="glyphicon glyphicon-plus"></span> New Person</a>
    <table class="table table-bordered table-striped">
        <thead>
            <td>Name</td>
            <td>Affiliation</td>
            <td>Edit</td>
        </thead>
            {% for person in persons %}
            <tr>
                <td>
                    <a href="{% url 'show-person' person.slug %}">{{ person.name }}</a>
                </td>
                <td>
                    {% if person.bio %}
                    {{ person.bio }}
                    {% else %}
                    <i>N/A</i>
                    {% endif %}
                </td>
                <td>
                    {% if perms.events.change_person %}
                        <a class="btn btn-primary" href="{% url 'edit-person' person.slug %}">Edit</a>
                    {% else %}
                        Not authorised
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
    </table>

    Filter by first letter of last name:
    <div class="container-fluid">
    {% for l in letters %}
        <a href="{% facet_single_param letter=l %}" class="{% facet_selected letter=l %}">{{l}}</a>
    {% endfor %}
    {% if letter %} - <a href="{% facet_remove_all 'letter' %}">Show all</a>{% endif %}
    </div>
    <br>
    {% with persons as page %}
        {% include 'events/_pagination.html' %}
    {% endwith %}

    </div>
    </div>
    </div>

{% endblock %}
