{% extends "base.html" %}

{% load faceted_navigation %}
{% load users %}

{% block title %}Series Administration{% endblock %}

{% block content %}


    <h2>Series administration</h2>

    <div class="container">
        <div class="row">
            <div class="col-xs-3">

            <ul class="nav nav-list well">
                <li><a href="{% url 'contributors-events' %}?date=future" class="">Talks  <span class="glyphicon glyphicon-ok filter-active"></span></a></li>
                <li><a href="{% url 'contributors-eventgroups' %}" class="filter-selected">Series  <span class="glyphicon glyphicon-ok filter-active"></span></a></li>
                <li><a href="{% url 'contributors-persons' %}" class="">People  <span class="glyphicon glyphicon-ok filter-active"></span></a></li>
            </ul>
            <strong>Filters</strong>
            <ul class="nav nav-list well">
                <li class="nav-header"><i class="icon-star"></i>Show Editable Series</li>
                <li><a href="{% facet_single_param editable='true' %}" class="{% facet_selected editable='true' %}">Editable by me <span class="glyphicon glyphicon-ok filter-active"></span></a></li>
                <li><a href="{% facet_remove_all 'editable' %}" class="{% facet_has_selection param='editable' %}"><span class="glyphicon glyphicon-remove"></span> Remove Filter</a></li>
            </ul>
        </div>

    <div class="col-xs-7">
    <a class="btn btn-primary navbar-btn" href="{% url 'create-event-group' %}"><span class="glyphicon glyphicon-plus"></span> New Series</a>
    <table class="table table-bordered table-striped">
        <thead>
            <td>Name</td>
            <td>Type</td>
            <td>Edit</td>
        </thead>
            {% for group in groups %}
            <tr>
                <td>
                    <a href="{% url 'show-event-group' group.slug %}">{{ group.title }}</a>
                </td>
                <td>
                    {{ group.get_group_type_display }}
                </td>
                <td>
                    {% if request.user|can_edit_group:group %}
                        <a class="btn btn-primary" href="{% url 'edit-event-group' group.slug %}">Edit</a>
                    {% else %}
                        Not authorised
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
    </table>


    {% with groups as page %}
        {% include 'events/_pagination.html' %}
    {% endwith %}

    </div>
    </div>
    </div>

{% endblock %}
