{% extends "base.html" %}

{% load bootstrap %}

{% block title %}{% if person %}Edit Person{% endif %}{% endblock %}

{% block content %}

{% if person %}
<h3>Editing "{{ person.name }}"</h3>
{% else %}
<h3>New Person</h3>
{% endif %}

<form class="form-horizontal" method="post">
    {% csrf_token %}
    {{ person_form|bootstrap_horizontal }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
            {% if not person %}
            <button type="submit" name="another" value="true" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Save and add another
            </button>
            {% else %}

            <p class="bg-warning" style="padding:10px 25px">Be careful! Changes made here will trickle down to every talk this person has been assigned to - including past talks and talks owned by other editors.<br> If someone has moved department or been promoted, it is perfectly OK to create a new person entry.</p>
            {% endif %}
            <button type="submit" class="btn btn-primary">Done</button>
        </div>
    </div>
</form>


{% endblock %}