{% extends "layouts/2-column.html" %}
{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block extrahead %}
<script src="{% static "js/user-collections.js"%}"></script>
<script>
    document.collectionConfig = {
        yourTalkTemplate: _.template('<li><strong><%= event.formatted_date %></strong> - <a href="<%= event.url %>"><%= event.title %></a> <a data-event="<%= event.id %>" href="#" class="js-remove-from-collection"><span class="glyphicon glyphicon-minus text-warning"></span></a></li>'),
        saveDefault: "{% url "save-talk" %}",
        removeDefault: "{% url "remove-talk" %}",
    };
</script>
<script type="application/ld+json">
[{% for event in events %}{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.title }}",
  "startDate": "{{ event.start|date:'c' }}"
{% if forloop.last %}}{% else %}},{% endif %}{% endfor %}]
</script>
{% endblock %}


{% block topcontent %}
<ul class="visible-xs nav nav-tabs nav-justified" role="tablist">
  <li class="active"><a href="#upcoming">Upcoming</a></li>
  <li><a href="#yourtalks">Your Talks</a></li>
</ul>
{% endblock %}

{% block side %}
<h2 class="hidden-xs">Your Talks</h2>

{% if default_collection %}
    <ul class="list-unstyled js-your-events">
        {% for event in default_collection.get_events %}
        <li><strong>{{ event.formatted_date }}</strong> - <a href="{{ event.get_absolute_url }}">{{ event.title }}</a> <a data-event="{{ event.id }}" href="#" class="js-remove-from-collection"><span class="glyphicon glyphicon-minus text-warning"></span></a></li>
        {% endfor %}
    </ul>
    <ul class="list-unstyled js-your-event-groups">
        {% for evg in default_collection.get_event_groups %}
        <li>{{ evg.title }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block main %}
<h2 class="hidden-xs">Upcoming</h2>

<ul class="list-unstyled js-upcoming-events">
{% for event in events %}
    <li><strong>{{ event.formatted_time }}</strong> - <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>{% if default_collection and not event in default_collection.get_events %} <a data-event="{{ event.id }}" class="js-add-to-collection" href="#"><span class="glyphicon glyphicon-plus text-success"></span></a>{% endif %}</li>
{% endfor %}
</ul>

{% endblock %}
