{% extends "layouts/2-column.html" %}
{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block extrahead %}
<script src="{% static "js/user-collections.js"%}"></script>
<script>
    document.collectionConfig = {
        yourTalkTemplate: _.template('<li><strong><%= event.formatted_date %></strong> - <a href="<%= event.url %>"><%= event.title %></a> <a data-event="<%= event.id %>" href="#" class="js-remove-from-collection"><span class="glyphicon glyphicon-minus text-warning"></span></a></li>'),
        saveDefault: "{% url "save-talk" %}",
        removeDefault: "{% url "remove-talk" %}",
    };
</script>
<script type="application/ld+json">
[{% for event in events %}{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.title }}",
  "startDate": "{{ event.start|date:'c' }}"
{% if forloop.last %}}{% else %}},{% endif %}{% endfor %}]
</script>

    <link href="{% static "css/bootstrap-datetimepicker.css"%}" rel="stylesheet">
    <script src="{% static "js/bootstrap-datetimepicker.js"%}"></script>

{% endblock %}


{% block topcontent %}
<ul class="visible-xs nav nav-tabs nav-justified" role="tablist">
  <li class="active"><a href="#upcoming">Upcoming</a></li>
  <li><a href="#yourtalks">Your Talks</a></li>
</ul>
{% endblock %}

{% block side %}
<h2 class="hidden-xs">Your Talks</h2>

{% if default_collection %}
    <ul class="list-unstyled js-your-events">
        {% for event in user_events %}
        <li><strong>{{ event.formatted_date }}</strong> - <a href="{{ event.get_absolute_url }}">{{ event.title }}</a> <a data-event="{{ event.id }}" href="#" class="js-remove-from-collection"><span class="glyphicon glyphicon-minus text-warning"></span></a></li>
        {% endfor %}
    </ul>
    <ul class="list-unstyled js-your-event-groups">
        {% for evg in user_event_groups %}
        <li><a href="{{ evg.get_absolute_url }}">{{ evg.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block main %}
<h2 class="hidden-xs">Upcoming</h2>

    <a href="/">Today</a>
    <a href="/?next_days=7">Next 7 days</a>
    <a class="js-datetimepicker" id="js-calendar">Calendar</a>

<ul class="list-unstyled js-upcoming-events">
{% for event in events %}
<li><strong>{{ event.formatted_time }}</strong> - <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>{% if event.group %} - Part of: <a href="{{ event.group.get_absolute_url }}">{{ event.group.title }}</a>{% endif %}{% if default_collection %} <a data-event="{{ event.id }}" class="js-add-to-collection{% if event in user_events %} hidden{% endif %}" href="#"><span class="glyphicon glyphicon-plus text-success"></span></a>{% endif %}</li>
{% endfor %}
</ul>

{% if conferences %}
<h3>Conferences</h3>
<ul class="list-unstyled">
{% for conf in conferences %}
    <li><a href="{{ conf.get_absolute_url }}">{{ conf.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if series %}
<h3>Seminar Series</h3>
{% endif %}
<ul class="list-unstyled">
{% for serie in series %}
    <li><a href="{{ serie.get_absolute_url }}">{{ serie.title }}</a></li>
{% endfor %}
</ul>


    <script type="application/javascript">

    var JS_CALENDAR = '#js-calendar';

    $(JS_CALENDAR).datetimepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        minView: 2,
        maxView: 3,
        todayHighlight: true
    });

    var datepicker = $(JS_CALENDAR);
    datepicker.datetimepicker().on('changeDate', function(ev){
        var d = datepicker.datetimepicker('getUTCDate');
        // month is 0-11
        var month = d.getMonth() + 1;
        month = month.toString();
        if (month.length == 1) {
            month = '0' + month;
        }
        window.location = '/events/date/'+d.getFullYear()+'/'+month+'/'+d.getDate()+'/';
    });

    $(JS_CALENDAR).on('click', function(ev) {
        $(JS_CALENDAR).datetimepicker('show');
    });
    </script>

{% endblock %}
