{% load users %}

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to collection
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu nav">
        <li>
            <ul class="nav">
                {% for collection in collections %}
                    <li>
                        {% ifequal item_desc 'series' %}
                            <a class="js-toggle-collection-item {% if collection|collection_contains_item:event_group %}active-collection{% endif %}"
                               href="#"
                               title="{% if collection|collection_contains_item:event_group %}Remove from collection{% else %}Add to collection{% endif %}"
                               data-collection="{{ collection.slug }}"
                               data-group="{{ event_group.slug }}"
                               data-action="{% if collection|collection_contains_item:event_group %}remove{% else %}add{% endif %}">
                                <i class="first pull-left fa fa-check {% if not collection|collection_contains_item:event_group %}fade-check{% endif %}"></i>
                                {{ collection.title }}
                                <i class="second pull-right fa {% if collection|collection_contains_item:event_group %}fa-times{% endif %}"></i>
                            </a>
                        {% else %}
                            {% ifequal item_desc 'department' %}
                                <a class="js-toggle-collection-item {% if collection|collection_contains_department:department %}active-collection{% endif %}"
                                    href="#"
                                    title="{% if collection|collection_contains_department:department %}Remove from collection{% else %}Add to collection{% endif %}"
                                    data-collection="{{ collection.slug }}"
                                    data-department="{{ department }}"
                                    data-action="{% if collection|collection_contains_department:department %}remove{% else %}add{% endif %}">
                                    <i class="first pull-left fa fa-check {% if not collection|collection_contains_department:department %}fade-check{% endif %}"></i>
                                    {{ collection.title }}
                                    <i class="second pull-right fa {% if collection|collection_contains_department:department %}fa-times{% endif %}"></i>
                                </a>
                            {% else %}
                                <a class="js-toggle-collection-item {% if collection|collection_contains_item:event %}active-collection{% endif %}"
                                   href="#"
                                   title="{% if collection|collection_contains_item:event %}Remove from collection{% else %}Add to collection{% endif %}"
                                   data-collection="{{ collection.slug }}"
                                   data-event="{{ event.slug }}"
                                   data-action="{% if collection|collection_contains_item:event %}remove{% else %}add{% endif %}">
                                    <i class="first pull-left fa fa-check {% if not collection|collection_contains_item:event %}fade-check{% endif %}"></i>
                                    {{ collection.title }}
                                    <i class="second pull-right fa {% if collection|collection_contains_item:event %}fa-times{% endif %}"></i>
                                </a>
                            {% endifequal %}
                        {% endifequal %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
<div id="collection-alert-container"></div>
