{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Delete list{% endblock %}

{% block content %}

    <h3>Delete the list</h3>

    <p>You are about to delete the list "{{ collection.title }}".</p>

    <p>Do you confirm?</p>

    <p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, delete the list" class="btn btn-danger">
        <a class="btn btn-default" href="{% url 'manage-lists' %}">Cancel</a>
    </form>

{% endblock content %}
