{% extends "base.html" %}

{% load bootstrap %}
{% load staticfiles %}

{% block title %}Manage Lists{% endblock %}

{% block extrahead %}{% endblock %}

{% block content %}

<h2 class="hidden-xs">View list</h2>

<br>{{ collection.title }}
{% if collection.description %}
  <br>Description: {{ collection.description_html | safe | striptags | linebreaksbr }}
{% endif %}
<br>Talks:
{% if events %}
    {% for event in events %}
        {% include "events/event_teaser.txt.html" %}<br>
    {% endfor %}
{% else %}
    <br>There are no upcoming talks in this list.
{% endif %}

<br>Series:
{% if event_groups %}
    {% for event_group in event_groups %}
        <br>{{ event_group.title }}
    {% endfor %}
{% else %}
    <br>You haven't added any series to this list.
{% endif %}

{% endblock %}
