{% extends "base.html" %}

{% load staticfiles %}
{% load users %}

{% block title %}Manage My Collections{% endblock %}

{% block extrahead %}

<script src="{% static "js/user-collections.js"%}"></script>
<script>
    document.collectionConfig = {
        addListDefault: "{% url "subscribe-to-list" %}",
        removeListDefault: "{% url "unsubscribe-from-list" %}"
    };
</script>
{% endblock %}

{% block content %}

<h2 class="hidden-xs">Manage My Collections</h2>

<div id="collection-alert-container"></div>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="{% url 'manage-lists' %}">My Collections</a></li>
      <li role="presentation"><a href="{% url 'view-public-lists' %}">All Public Collections</a></li>
    </ul>

    <ul class="list-group">

        <li class="list-group-item">
            <p><strong>
                Collections that I've created:
            </strong></p>
            <ul class="list-unstyled">
                {% for collection in collections_owner %}
                    <li class="contains-floating-buttons">
                        <a href="{% url 'view-list' collection.slug %}">{{ collection.title }}</a>
                        {% if collection.public %}
                            <i class="fa fa-globe" title="This list is visible to all Oxford Talks users"></i>
                            {% if collection.get_number_of_readers > 0 %}
                                <span class="number-of-readers">{{ collection.get_number_of_readers }} users are following this list</span>
                            {% endif %}
                        {% endif %}
                        <div class="manage-lists-buttons">
                            <a class="btn btn-primary" href="{% url 'edit-list' collection.slug %}">Edit</a>
                        </div>
                    </li>
                {% empty %}
                    <p>You haven't created any collections yet.</p>
                {% endfor %}
            </ul>
        </li>

    {% if user_is_a_contributor %}
        <li class="list-group-item">
            <p><strong>
                Collections that I can contribute to:
            </strong></p>
            <ul class="list-unstyled">
                {% for collection in collections_editor %}
                    <li class="contains-floating-buttons">
                        <a href="{% url 'view-list' collection.slug %}">{{ collection.title }}</a>
                        {% if collection.public %}
                            <i class="fa fa-globe" title="This list is visible to all Oxford Talks users"></i>
                        {% endif %}
                    </li>
                {% empty %}
                    <p>You haven't been invited to collaborate on any collections yet.</p>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

        <li class="list-group-item">
            <p><strong>
                Public collections that I've subscribed to:
            </strong></p>
            <ul class="list-unstyled">
                {% for collection in collections_reader %}
                    <li class="contains-floating-buttons">
                        <a href="{% url 'view-list' collection.slug %}">{{ collection.title }}</a>
                            <i class="fa fa-globe" title="This list is visible to all Oxford Talks users"></i>
                        <div class="manage-lists-buttons">
                            <a class="btn btn-primary js-add-collection {% ifnotequal collection|collection_permission:user None %}hidden{% endifnotequal %}"
                                   href="#" action="{% url 'subscribe-to-list' %}" data-collection="{{ collection.slug }}">Subscribe</a>

                            <a class="btn btn-warning js-remove-collection {% ifnotequal collection|collection_permission:user 'reader' %}hidden{% endifnotequal %}"
                                   href="#" action="{% url 'unsubscribe-from-list' %}" data-collection="{{ collection.slug }}">Unsubscribe</a>
                        </div>
                    </li>
                {% empty %}
                    <p>You haven't subscribed to any public collections yet.</p>
                {% endfor %}
            </ul>
        </li>

    </ul>

<a href="{% url "add-list" %}" class="btn btn-primary" type="button">Add new collection</a>

{% endblock %}
