{% extends "base.html" %}

{% load bootstrap %}
{% load staticfiles %}
{% load users %}

{% block title %}Collection{% endblock %}

{% block extrahead %}{% endblock %}

{% block content %}

{% spaceless %}

{% if perms.events.change_event %}
    <div class="container-fluid">
    <div class="row bg-primary">
      <div class="col-md-11"><h4>{{ event.get_status_display }}</h4></div>
      <div class="col-md-1">
        <strong>
            {% if request.tuser %}
                {% ifequal collection|collection_permission:user 'owner' %}
            <a class="btn btn-default navbar-btn" href="{% url 'edit-list' collection.slug %}">Edit</a>
                {% endifequal %}
            {% endif %}
        </strong>
      </div>
    </div>
    </div>
{% endif %}

{% endspaceless %}



<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title contains-floating-buttons">Collection: 
            {{ collection.title }}
            {% if collection.public %}
                <i class="fa fa-globe" title="This collection is visible to all Oxford Talks users"></i>
            {% endif %}
            <div class="formatting-links">
                {% include "users/collection_plain_text_link.html" %}
                {% include "users/collection_ics_link.html" %}
            </div>
        </h3>
    </div>
    {% if collection.description %}
        <div class="panel-body">
            <p>{{ collection.description_html | safe }}</p>
        </div>
    {% endif %}
            
            {% if events %}
              {% include 'events/_event_list.html' with show_event_time_only=True %}
            {% else %}
              {% if show_all %}
                <i>You haven't added any talks to this collection yet.</i>
              {% else %}
                <i>There are no upcoming talks in this collection.</i>
              {% endif %}
            {% endif %}

    <div class="panel-footer">
        {% if show_all %}
            <strong>Showing all talks   </strong><a class="btn btn-default navbar-btn" href="{% url 'view-list' collection.slug %}">Show upcoming talks only</a>
        {% else %}
            <strong>Only showing upcoming talks   </strong><a class="btn btn-default navbar-btn" href="{% url 'view-list' collection.slug %}?show_all=true">Show all talks in this collection</a>
        {% endif %}
    </div>

</div>

{% if contributors %}
        <p>
            <strong>The following Talks editors are curating this collection:</strong></p>
        <ul>
            {% for contributor in contributors %}
                <li>{{ contributor.user.first_name }} {{ contributor.user.last_name }}</li>
            {% endfor %}
        </ul>
{% endif %}

{% if event_groups %}
<p>
 <strong>This collection contains talks from the following series:</strong></p>
 <ul>
   {% for event_group in event_groups %}
                        <li>
                            <a href="{{ event_group.get_absolute_url }}">{{ event_group.title }}</a>
                        </li>
    {% endfor %}
</ul>
{% endif %}
{% if departments %}
<p>
    <strong>This collection contains talks from the following departments:</strong></p>
    <ul>
        {% for department in departments %}
            <li>
                <a href="{% url 'show-department' department.id %}">{{department.name}}</a>
            </li>
        {% endfor %}
    </ul>
</p>
{% endif %}

{% endblock %}
