{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Delete collection{% endblock %}

{% block content %}

    <h3>Delete the collection</h3>

    <p>You are about to delete the list "{{ collection.title }}".</p>

    <p>Are you sure?</p>

    <p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Yes, delete the collection" class="btn btn-danger">
        <a class="btn btn-default" href="{% url 'manage-lists' %}">Cancel</a>
    </form>

{% endblock content %}
