{% extends "base.html" %}

{% load bootstrap %}
{% load staticfiles %}

{% block title %}Manage Lists{% endblock %}

{% block extrahead %}{% endblock %}

{% block content %}

<h2 class="hidden-xs">View list</h2>

<br>{{ collection.title }}
{% if collection.description %}
  <br>Description: {{ collection.description_html | safe | striptags | linebreaksbr }}
{% endif %}
<br>Talks:<br>
{% if grouped_events %}
  {% include "events/_event_list.txt.html" %}
{% else %}
    <br>There are no upcoming talks in this list.
{% endif %}

{% if event_groups %}
    <br>This list contains talks from the following series:
    {% for event_group in event_groups %}
        <br>{{ event_group.title }}
    {% endfor %}
{% endif %}

{% endblock %}
