{% extends 'base.html' %}

{% block search_query %}
{{ form.q.value }}
{% endblock search_query %}

{% block content %}

{% if query %}
    <div class="container-fluid">

    {% if suggestion %}
    <div class="row">
        <p>Did you mean "<a href="{% url 'haystack_search' %}?q={{ suggestion }}">{{ suggestion }}</a>"?</p>
    </div>
    {% endif %}

    <div class="row">


    <div class="col-md-9 col-md-push-3">
	    <h3>Past results</h3>
	    <h5><a href="{% url 'haystack_search' %}?q= {{query}}">Show upcoming results</a></h5>
	    <ul class="list-group"> 
	    {% for event in page.object_list %}
	        <li class="list-group-item">
	            {% include "events/event_teaser.html" %}
	        </li>
	    {% empty %}
	        <li class="list-group-item">
				No results found in past talks
			</li>
	    {% endfor %}
	    </ul>

	    {% if page.has_previous or page.has_next %}
	        <div>
	            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	            |
	            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
	        </div>
	    {% endif %}

    </div>

    {% if page.object_list %}
    
    <div class="col-md-3 col-md-pull-9">
    {% spaceless %}
    <dl>
        {% if facets.fields.speakers %}
            <dt>Speaker</dt>
            {% for speaker in facets.fields.speakers|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=speakers_exact:{{ speaker.0|urlencode }}">{{ speaker.0 }}</a> ({{ speaker.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    <dl>
        {% if facets.fields.location %}
            <dt>Location</dt>
            {% for location in facets.fields.location|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=location_exact:{{ location.0|urlencode }}">{{ location.0 }}</a> ({{ location.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    <dl>
        {% if facets.fields.topics %}
            <dt>Topics</dt>
            {% for topic in facets.fields.topics|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=topics_exact:{{ topic.0|urlencode }}">{{ topic.0 }}</a> ({{ topic.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    <dl>
        {% if facets.fields.group %}
            <dt>Series</dt>
            {% for group in facets.fields.group|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=group_exact:{{ group.0|urlencode }}">{{ group.0 }}</a> ({{ group.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    <dl>
        {% if facets.fields.lists %}
            <dt>Public Lists</dt>
            {% for list in facets.fields.lists|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=lists_exact:{{ list.0|urlencode }}">{{ list.0 }}</a> ({{ list.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    <dl>
        {% if facet_date %}
            <dt>Start</dt>
            {% for item in facet_date %}
                {% if item.count > 0 %}
                    {% comment %}
                    Cannot use facet.min_count=1 as we use here our own custom function
                    {% endcomment %}
                <dd><a href="{{ request.get_full_path }}&amp;filtered_date={{ item.url_param|urlencode }}">{{ item.name }}</a> ({{ item.count }})</dd>
                {% endif %}
            {% endfor %}
        {% endif %}
    </dl>
    {% endspaceless %}
    </div>

    {% endif %}

    </div>
{% endif %}
{% endblock %}
