{% extends 'base.html' %}

{% block content %}

<form method="get" action=".">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>

{% if query %}
    <div class="container">
    <div class="row">

    <div class="col-md-4">

    <h2>Refine results</h2>

    <dl>
        {% if facets.fields.speakers %}
            <dt>Speaker</dt>
            {% for speaker in facets.fields.speakers|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=speakers_exact:{{ speaker.0|urlencode }}">{{ speaker.0 }}</a> ({{ speaker.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    <dl>
        {% if facets.fields.location %}
            <dt>Location</dt>
            {% for location in facets.fields.location|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=location_exact:{{ location.0|urlencode }}">{{ location.0 }}</a> ({{ location.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    <dl>
        {% if facets.fields.topics %}
            <dt>Topics</dt>
            {% for topic in facets.fields.topics|slice:":10" %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=topics_exact:{{ topic.0|urlencode }}">{{ topic.0 }}</a> ({{ topic.1 }})</dd>
            {% endfor %}
        {% endif %}
    </dl>
    {% comment %}
    TODO needs to be reworked to have ranges e.g. "Past talks", "Last week", "This week", "Next month" etc
    <dl>
        {% if facets.dates.start %}
            <dt>Start</dt>
            {% for start, count in facets.dates.start.items %}
                <dd><a href="{{ request.get_full_path }}&amp;selected_facets=start_exact:{{ start|urlencode }}">{{ start }}</a> ({{ count }})</dd>
            {% endfor %}
        {% else %}
            <p>No start facets.</p>
        {% endif %}
    </dl>
    {% endcomment %}
    </div>

    <div class="col-md-8">

    {% if suggestion %}
    <p>Did you mean "<a href="{% url 'haystack_search' %}?q={{ suggestion }}">{{ suggestion }}</a>"?</p>
    {% endif %}

    {% for result in page.object_list %}
        <p>
{% comment %}
{% url 'event' result.pk %} means that we can only retrieve "events" (e.g. wouldn't work if we want to
return Speakers as main results -- if it was something that we wanted to do.
It is best practice to not access result.object as this would hit the database for every record (lazily loaded).
{% endcomment %}
            {{ result.start|date:"D, d M" }}
            <a href="{% url 'show-event' result.pk %}">{{ result.title }}</a>
        </p>
    {% empty %}
        <p>No results found.</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}

    </div>

    </div></div>
{% endif %}
{% endblock %}
