    <div class="col-sm-offset-5 col-lg-offset-5 col-sm-5 col-lg-5">
        <span class="step-links">
            {% if page.has_previous %}
                <a class="btn btn-default" href="?{{ fragment }}&page={{ page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            </span>

            {% if page.has_next %}
                <a class="btn btn-default" href="?{{ fragment }}&page={{ page.next_page_number }}">next</a>
            {% endif %}

            {% if page.paginator.num_pages > 1 %}
              <br>
              {% for page_index in page.paginator.page_range %}
                <a class="btn btn-default{% if page_index == page.number %} active{% endif %}" href="?{{ fragment }}&page={{ page_index }}">{{ page_index }}</a>
              {% endfor %}
            {% endif %}
        </span>
    </div>
