    <div class="col-sm-offset-1 col-lg-offset-1 col-sm-11 col-lg-11">
        <span class="step-links">
  
          <ul class="pagination pagination-sm">
            {% if page.has_previous %}
                <li><a class="btn btn-default" href="?{{ fragment }}&page={{ page.previous_page_number }}">previous</a></li>
                <li><a style="visibility:hidden"> </a></li>
            {% endif %}

            {% if page.paginator.num_pages <= 1 %}
              <li class="active"><a>Page 1</a></li>
            {% else %}
                {% for p in page.paginator.page_range %}
                  {% if p == 1  or p == page.paginator.num_pages or p <= page.number|add:3 and p >= page.number|add:-3 %}
                    <li{% if p == page.number %} class="active"{% endif %}>
                      <a href="?{{ fragment }}&page={{ p }}">
                        {{ p }}
                      </a>
                    </li>
                  {% else %}
                    {% if p == 2  or p == page.paginator.num_pages|add:-1 %}
                      <li><a style="border-top:0px; border-bottom:0px;">...</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            {% endif %}

            {% if page.has_next %}
                <li><a style="visibility:hidden"> </a></li>
                <li><a class="btn btn-default" href="?{{ fragment }}&page={{ page.next_page_number }}">next</a></li>
            {% endif %}
          </ul>
        </span>
    </div>
