{% extends "layouts/2-column.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block extrahead %}

<!-- Date picker -->
<link href="{% static "css/bootstrap-datetimepicker.css"%}" rel="stylesheet">
<script src="{% static "js/moment-with-locales.min.js"%}"></script>
<script src="{% static "js/bootstrap-datetimepicker.js"%}"></script>

<!-- Typeahead.js -->
<script src="{% static "js/typeahead.bundle.js"%}"></script>

<!-- our Typeahead styling -->
<link href="{% static "css/typeahead.css"%}" rel="stylesheet">

<script src="{% static "js/form-controls.js"%}"></script>

{% endblock %}


{% block topcontent %}

{% endblock %}

{% block side %}

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-xs-12">
            
            
            {% include 'events/navigation_for_listing.html' %}


      <h3>Filters</h3>
      <ul class="nav nav-list well">
        <form action="{% url 'browse_events' %}" method="get">
            {{ browse_events_form.start_date | bootstrap }}
            
            {{ browse_events_form.to | bootstrap }}
            {{ browse_events_form.organising_department | bootstrap }}
            {{ browse_events_form.include_subdepartments | bootstrap }}
            {{ browse_events_form.seriesid | bootstrap }}
            {{ browse_events_form.venue | bootstrap }}

            <a href="{% url 'browse_events' %}" class="btn btn-default pull-left">Reset Filters</a>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>

        <script type="text/javascript">
          $(document).ready(function(){
            $('.js-datetimepicker').datetimepicker({
              format : 'YYYY-MM-DD'  
            });  
          });
          $(function() { 
           
          });
        </script>

      </ul>
    </div>

  </div>
</div>

{% endblock %}


{% block main %}


<div class="js-upcoming-events">
    {% if grouped_events %}
        {% include 'events/_event_list.html' with show_event_time_only=True %}      
        {% with events as page %}
            {% include 'events/_pagination.html' %}
        {% endwith %}
    {% else %}
      Sorry, there are no talks that match these criteria.
    {% endif %}
</div>

{% endblock %}
