{% extends "base.html" %}

{% load faceted_navigation %}
{% load users %}

{% block title %}Talks administration{% endblock %}

{% block content %}

    <style type="text/css">
    .filter-selected {
         background-color: #ddd;
    }
    </style>

    <h2>Talks administration</h2>

    <div class="container">
        <div class="row">
            <div class="col-xs-3">

        <ul class="nav nav-list well">
            <li><a href="{% url 'contributors-events' %}?date=future" class="filter-selected">Talks</a></li>
            <li><a href="{% url 'contributors-eventgroups' %}">Series</a></li>
            <li><a href="{% url 'contributors-persons' %}" class="">People</a></li>
        </ul>

      <ul class="nav nav-list well">

        <li class="nav-header"><i class="icon-star"></i>Talk status</li>
        <li><a href="{% facet_single_param status='published' %}" class="{% facet_selected status='published' %}">Published</a></li>
        <li><a href="{% facet_single_param status='preparation' %}" class="{% facet_selected status='preparation' %}">In preparation</a></li>
        <li><a href="{% facet_remove_all 'status' %}">All</a></li>

        <li class="nav-header"><i class="icon-star"></i>Missing properties</li>
        <li><a href="{% facet_single_param missing='title' %}" class="{% facet_selected missing='title' %}">Title TBA</a></li>
        <li><a href="{% facet_single_param missing='location' %}" class="{% facet_selected missing='location' %}">Location</a></li>
        <li><a href="{% facet_remove_all 'missing' %}">All</a></li>

        <li class="nav-header"><i class="icon-time"></i>Date</li>
        <li><a href="{% facet_single_param date='future' %}" class="{% facet_selected date='future' %}">Future events</a></li>
        <li><a href="{% facet_single_param date='past' %}" class="{% facet_selected date='past' %}">Past events</a></li>
        <li><a href="{% facet_remove_all 'date' %}">All</a></li>

        <li class="nav-headder"><i class="icon-star"></i>Show Editable Talks</li>
          <li><a href="{% facet_single_param editable='true' %}" class="{% facet_selected editable='true' %}">Editable by me</a></li>
          <li><a href="{% facet_remove_all 'editable' %}">All</a></li>

      </ul>
    </div>

    <div class="col-xs-7">
        <a class="btn btn-primary navbar-btn" href="{% url 'create-event' %}"><span class="glyphicon glyphicon-plus"></span> New Talk</a>
    <table class="table table-bordered table-striped">
        <thead>
            <td>Title</td>
            <td>Start date</td>
            <td>Status</td>
            <td>Edit</td>
        </thead>

        {% for event in events %}
            <tr>
                <td><a href="{% url 'show-event' event.slug %}">{% if event.title %}{{ event.title }}{% else %}Untitled Talk{% endif %}</a></td>
                <td>{{ event.start }}</td>
                <td>{{ event.status }}</td>
                <td>
                    {% if request.user|can_edit:event %}
                        <a class="btn btn-primary" href="{% url 'edit-event' event.slug %}">Edit</a>
                    {% else %}
                        Not authorised
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% with events as page %}
        {% include 'events/_pagination.html' %}
    {% endwith %}

    </div>
    </div>
    </div>

{% endblock %}
