{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Create Event{% endblock %}

{% block extrahead %}
<script src="{% static "js/create-event.js"%}"></script>

<!-- Date picker -->
<link href="{% static "css/bootstrap-datetimepicker.css"%}" rel="stylesheet">

<script src="{% static "js/bootstrap-datetimepicker.js"%}"></script>

<script>
    document.locationConfig = {
        suggestURL: "{{ event_form.location.field.endpoint }}?{% for type in event_form.location.field.types %}type_exact={{ type }}&{% endfor %}",
    };
    document.organisationConfig = {
        suggestURL: "{{ event_form.department_organiser.field.endpoint }}?{% for type in event_form.department_organiser.field.types %}type_exact={{ type }}&{% endfor %}",
    };
    document.topicConfig = {
        suggestURL: "{{ event_form.topics.field.endpoint }}"
    }
    document.speakerConfig = {
        suggestURL: "{% url 'suggest-speaker' %}",
        createURL: "{% url 'create-speaker' %}",
    };
</script>

<!-- Typeahead.js -->
<script src="{% static "js/typeahead.bundle.js"%}"></script>

<!-- our Typeahead styling -->
<link href="{% static "css/typeahead.css"%}" rel="stylesheet">

<!-- form media -->
{{ speaker_form.media }}
{{ event_form.media }}
{% endblock extrahead %}

{% block content %}

<h1>Add Talk</h1>
<form class="form-horizontal" action="{% url 'create-event' %}" method="post">{% csrf_token %}
    {{ event_group_form.enabled|bootstrap_horizontal }}
    {% with select_radio=event_group_form.select_create.0 form_radio=event_group_form.select_create.1 %}
    <div class="event-group" {% if not event_group_form.show_form %}style="display: none;"{% endif %}>
        <div class="event-group-select panel panel-default">
            <div class="panel-heading">
                <label for="{{ select_radio.id_for_label }}">
                    {{ select_radio.tag }}
                    {{ select_radio.choice_label }}
                </label>
            </div>
            <div class="panel-body">
                {{ event_group_form.event_group_select|bootstrap_horizontal }}
            </div>
        </div>
        <div class="event-group-create panel panel-default">
            <div class="panel-heading">
                <label for="{{ form_radio.id_for_label }}">
                    {{ form_radio.tag }}
                    {{ form_radio.choice_label }}
                </label>
            </div>
            <div class="panel-body" {% if not event_group_form.show_create_form %}style="display: none;"{% endif %}>
                {{ event_group_form.title|bootstrap_horizontal }}
                {{ event_group_form.group_type|bootstrap_horizontal }}
                {{ event_group_form.description|bootstrap_horizontal }}
            </div>
        </div>
        <hr>
    </div>
    {% endwith %}
    {{ event_form.speakers }}
    {{ event_form.location }}
    {{ event_form.topics }}
    {{ event_form.department_organiser }}
    {{ event_form.title|bootstrap_horizontal }}
    {{ event_form.start|bootstrap_horizontal }}
    {{ event_form.end|bootstrap_horizontal }}
    {{ event_form.description|bootstrap_horizontal }}
    {{ event_form.location_suggest|bootstrap_horizontal }}
    {{ event_form.department_suggest|bootstrap_horizontal }}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-topics-list">
            {% for topic in selected_topics %}
            <a href="#" data-id="{{ topic.url }}" class="list-group-item list-group-item-info fade in">
                <span class="badge">-</span>{{ topic.prefLabel }}
            </a>
            {% endfor %}
        </div>
    </div>
    {{ event_form.topic_suggest|bootstrap_horizontal }}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-suggested-topics-list">
        </div>
    </div>

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-speakers-list">
            {% for speaker in selected_speakers %}
            <a href="#" data-id="{{ speaker.id }}" class="list-group-item list-group-item-info fade in">
                <span class="badge">-</span>{{ speaker.name }} - {{ speaker.email_address }}
            </a>
            {% endfor %}
        </div>
    </div>
    {{ event_form.speaker_suggest|bootstrap_horizontal }}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-suggested-speakers-list">
        </div>
    </div>

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#" class="js-create-speaker">Create new speaker</a>
            </div>
            <div class="panel-body js-speaker-panel hidden">
                <div class="js-speaker-form form-inline">
                    {{ speaker_form|bootstrap_horizontal }}
                    <a class="btn btn-primary js-submit-speaker">Add</a>
                </div>
                <div class="js-speaker-form-errors alert alert-danger hidden">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
                <button type="submit" name="another" value="true" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                    Save and add another Talk
                </button>
                <button type="submit" class="btn btn-primary">Done</button>
            </div>
        </div>
    </form>
    {% endblock %}
