{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Create Event{% endblock %}

{% block content %}

<h1>Add Talk</h1>
<form class="form-horizontal" action="{% url 'create-event' %}" method="post">{% csrf_token %}
    {{ event_group_form.enabled|bootstrap_horizontal }}
    <div class="event-group ">
        {{ event_group_form.form_enabled }}
        {{ event_group_form.select_enabled }}
        <div class="event-group-select">
            {{ event_group_form.event_group_select|bootstrap_horizontal }}
        </div>
        <div class="event-group-create">
            {{ event_group_form.title|bootstrap_horizontal }}
            {{ event_group_form.description|bootstrap_horizontal }}
        </div>
        <hr>
    </div>
    {{ event_form|bootstrap_horizontal }}
    <div class="form-group">
        <div class="col-sm-2 col-lg-2">
        </div>
        <div class="col-sm-10 col-lg-10">
            <button type="submit" class="btn btn-primary">Done</button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
                Add Another Talk
            </button>
        </div>
    </div>
</form>
{% endblock %}
