{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Delete talk{% endblock %}

{% block content %}

    <h3>Delete the talk</h3>

    <p>You are about to delete the talk "{{ event.title }}" (starting {{ event.start }}).</p>

    <p>Do you confirm?</p>

    <p><form method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete the talk" class="btn btn-danger"></form></p>
    <p><a href="{{ event.get_absolute_url }}">Cancel, and go back to the talk page</a></p>

{% endblock content %}
