{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}Delete series{% endblock %}

{% block content %}

    <h3>Delete the series</h3>

    <p>You are about to delete the series "{{ event_group.title }}".</p>

    {% if events %}
    <p>The following talks will not belong to any series anymore:</p>

    <ul>
        {% for event in events %}
        <li><a href="{{ event.get_absolute_url }}">{{ event.title }}</a> ({{ event.start }})</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No talks belong to the series.</p>
    {% endif %}

    <p>Do you confirm?</p>

    <p><form method="post">
    {% csrf_token %}
    <input type="submit" value="Yes, delete the series" class="btn btn-danger"></form></p>
    <p><a href="{{ event_group.get_absolute_url }}">Cancel, and go back to the series page</a></p>

{% endblock content %}
