{% extends "base.html" %}

{% block title %}{{ org.name }}{% endblock %}


{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ org.name }}
            <div class="formatting-links">
                <a class="formatting-link plain-text-link" href="/talks/department/id/{{ org.id }}?format=txt" title="View a plain text version of this department">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </a>
            </div>
        </h3>
    </div>

    <ul class="list-group">
        {% if events %}
            {% for event in events.all %}
                <li class="list-group-item">{% include "events/event_teaser.html" %}</li>
            {% endfor %}
        {% else %}
            <li class="list-group-item"><i>Sorry, there are currently no talks scheduled in this department.</i></li>
        {% endif %}
    </ul>

</div>

<p><a href="//maps.ox.ac.uk/#/places/{{ org.id }}" target="_blank">See {{ org.name }} on <strong>maps.ox</strong></a></p>


This page lists all talks organised by this department, or any of its sub-organisations:
<ul>
    {% for org in sub_orgs %}
        <li>{{ org.title }}</li>
    {% endfor %}
</ul>

{% endblock %}
