{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% if event %}Edit talk{% else %}Add talk{% endif %}{% endblock %}

{% block extrahead %}
<script src="{% static "js/event-form.js"%}"></script>

<!-- Date picker -->
<link href="{% static "css/bootstrap-datetimepicker.css"%}" rel="stylesheet">

<script src="{% static "js/bootstrap-datetimepicker.js"%}"></script>

<!-- Typeahead.js -->
<script src="{% static "js/typeahead.bundle.js"%}"></script>

<script src="{% static "js/modal-form.js"%}"></script>

<!-- our Typeahead styling -->
<link href="{% static "css/typeahead.css"%}" rel="stylesheet">

<!-- form media -->
{{ speaker_form.media }}
{{ event_form.media }}
{% endblock extrahead %}

{% block content %}

{% if event %}
<h3>Edit "{{ event.title }}"</h3>
{% else %}
<h3>Add Talk</h3>
{% endif %}
{% for error in event_form.non_field_errors %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
{% endfor %}
<form class="form-horizontal" method="post" action="{{ request.get_full_path }}">{% csrf_token %}
    {{ event_form.title|bootstrap_horizontal }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                    <label>
                        <input autocomplete="off" id="id_event-title_not_announced" name="event-title_not_announced" type="checkbox" {% if event_form.title_not_announced.value %}checked{% endif %}> Title to be announced
                    </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 col-lg-2 " for="id_event-group">Group</label>
        <div class="col-sm-10">
            <div class="checkbox">
                    <label>
                        <input autocomplete="off" id="id_event-group-enabled" name="event-group-enabled" type="checkbox" {% if event_form.group.value %}checked{% endif %}> <span>This talk is part of seminar series or conference</span>
                    </label>
            </div>
        </div>
    </div>
    <div class="form-group event-group" {% if not event_form.group.value %}style="display:none;"{% endif %}>
        <div class="col-sm-offset-2 col-sm-8">
            <input name="group" type="hidden" value=""/>
            <select class="form-control" id="id_group" name="event-group" {% if not event_form.group.value %}disabled{% endif %}>
                {% for value, label in event_form.fields.group.choices %}
                <option value="{{ value }}"{% ifequal event_form.group.value value|stringformat:"s" %}selected{% endifequal %}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-2">
            <a data-url="{% url 'create-event-group' %}?modal=1" class="btn btn-default" id="create-group-button" data-toggle="modal" data-target="#form-modal">New event group</a>
        </div>
    </div>
    {{ event_form.start|bootstrap_horizontal }}
    {{ event_form.end|bootstrap_horizontal }}
    {{ event_form.description|bootstrap_horizontal }}
    {{ event_form.location|bootstrap_horizontal }}
    {{ event_form.location_details|bootstrap_horizontal }}
    {{ event_form.department_organiser|bootstrap_horizontal }}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-topics-list">
            {% for topic in selected_topics %}
            <a href="#" data-id="{{ topic.uri }}" class="list-group-item list-group-item-info fade in">
                <span class="badge">-</span>{{ topic.name }}
            </a>
            {% endfor %}
        </div>
    </div>
    {{ event_form.topics|bootstrap_horizontal }}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-suggested-topics-list">
        </div>
    </div>

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-speakers-list">
            {% for speaker in selected_speakers %}
            <a href="#" data-id="{{ speaker.id }}" class="list-group-item list-group-item-info fade in">
                <span class="badge">-</span>{{ speaker.name }} - {{ speaker.email_address }}
            </a>
            {% endfor %}
        </div>
    </div>
    {{ event_form.speakers|bootstrap_horizontal }}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="list-group js-suggested-speakers-list">
        </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <div class="col-sm-2">
            <a data-url="{% url 'create-person' %}?modal=1" class="btn btn-default" id="create-person-button" data-toggle="modal" data-target="#form-modal">Create Speaker</a>
        </div>
    </div>

    {{ event_form.booking_type|bootstrap_horizontal }}
    {{ event_form.booking_url|bootstrap_horizontal }}
    {{ event_form.cost|bootstrap_horizontal }}
    {{ event_form.audience|bootstrap_horizontal }}
    {{ event_form.special_message|bootstrap_horizontal }}
    {{ event_form.status|bootstrap_horizontal }}
    {{ event_form.editors|bootstrap_horizontal }}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="form-group">
            <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
                <button type="submit" name="another" value="true" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                    Save and add another Talk
                </button>
                <button type="submit" class="btn btn-primary">Done</button>
                {% if is_editing %}
                <a class="btn btn-danger" href="{% url 'delete-event' event.slug %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% include '_prevent_form_enter.html' %}

{% endblock %}
