{% load users %}
<!-- Display a single event teaser -->
<div class="event-teaser-wrapper">
  <div class="event-teaser-text-wrapper">
      
        <div class="pull-right">
          <span style="padding-right: 20px">
            {% if not event.is_published %}<strong>Status</strong>: This talk is in preparation - details may change{% endif %}
          </span>
          {% if perms.events.change_event %}
            {% if request.user|can_edit_event:event %}
              <a class="btn btn-default navbar-btn" href="{% url 'edit-event' event.slug %}">Edit</a>
            {% else %}
              Not authorized to edit
            {% endif %}
          {% endif %}
        </div>

        <strong>
            {% if show_event_time_only %}
                {{ event.display_time }}
            {% else %}
                {{ event.formatted_date }}
            {% endif %}
        </strong>

        <a href="{{ event.get_absolute_url }}" class="list-group-item-heading">
           - <u>{{ event.title_display }}</u>
        </a>
        {% if event.special_message %}
          <br><span class="teaser-special-message">{{ event.special_message }}</span>
        {% endif %}
        <br>
        {% if event.various_speakers %}
         Various Speakers
        {% else %}
             Speaker{{ event.speakers|pluralize }}:
            {% for speaker in event.speakers %}
                <b><a href="{% url 'show-person' speaker.slug %}" class="teaser-speaker">{{ speaker.name}}{% if speaker.bio %} ({{ speaker.bio }}){% endif %}</a></b>{% if not forloop.last %}, {% endif %}
            {% empty %} TBA
            {% endfor %}
        {% endif %}
        {% if not is_group_view %}
          {% if event.group %}
            <br><a href="{{ event.group.get_absolute_url }}"><u>{{ event.group.title }}</u></a>
          {% endif %}
        {% endif %}
    </div>
    <div class="formatting-links-wrapper">
        {% include "events/event_ics_link.html" %}
    </div>

</div>
