{% extends "base.html" %}

{% load users %}

{% block title %}{{ event.title }}{% endblock %}

{% block extrahead %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ event.title }}">
<meta name="twitter:description" content="{{ event.description }}">
<meta property="og:title" content="{{ event.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:image" content="" />
{% endblock %}

{% block content %}

{% include "events/jsonld_event.html" with event=event location=location url=url %}

{% spaceless %}

{% if perms.events.change_event %}
    <div class="container-fluid">
    <div class="row bg-primary">
      <div class="col-md-11"><h4>{{ event.get_status_display }}</h4></div>
      <div class="col-md-1">
        <strong>
          {% if request.user|can_edit:event %}
            <a class="btn btn-default navbar-btn" href="{% url 'edit-event' event.slug %}">Edit</a>
          {% endif %}
        </strong>
      </div>
    </div>
    </div>
{% endif %}

{% endspaceless %}

<div class="panel panel-default">

    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">{{ event.title }}</h3>
    </div>
    <div class="panel-body">
        <p>{{ event.description_html | safe }}</p>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><strong>Date</strong>: {{ event.start }} ({{ event.oxford_date.formatted }})</li>
        <li class="list-group-item"><strong>Venue</strong>: {% spaceless %}
            {% if location %}
            <address>{{ location.name }}{% if location.address %}</br>{{ location.address }}{% endif %}</address>
            {% else %}
            Venue to be announced
            {% endif %}
        {% endspaceless %}</li>
        <li class="list-group-item"><strong>Speaker{{ speakers|pluralize }}</strong>: {% spaceless %}{% for speaker in speakers %}{{ speaker.name}}{% if not forloop.last %}, {% endif %}{% empty %}
            Speaker to be announced
        {% endfor %}
        </li>
        {% endspaceless %}
        {% if event.api_organisation %}
        <li class="list-group-item"><strong>Organiser</strong>: {{ event.api_organisation.name }}</li>
        {% endif %}
        {% if event.group %}
        <li class="list-group-item"><strong>Part of</strong>: <a href="{{ event.group.get_absolute_url }}">{{ event.group.title }}</a></li>
        {% endif %}
        <li class="list-group-item"><strong>Topics</strong>: {% for topic in event.api_topics %}{{ topic.prefLabel }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        <li class="list-group-item"><strong>Booking required?</strong>: {{ event.get_booking_type_display }} </li>
        {% if event.booking_url %}
            <li class="list-group-item"><strong>Booking url</strong>: {{ event.booking_url }} </li>
        {% endif %}
        {% if event.cost %}
            <li class="list-group-item"><strong>Cost</strong>: {{ event.cost }} </li>
        {% endif %}
        <li class="list-group-item"><strong>Audience</strong>: {{ event.get_audience_display }} </li>
    </ul>
</div>
{% endblock %}
