{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block content %}

<script type="application/ld+json">
[{% for event in events %}{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.title }}",
  "startDate": "{{ event.start|date:'c' }}"
{% if forloop.last %}}{% else %}},{% endif %}{% endfor %}]
</script>

{% for event in events %}

<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">{{ event.title }}</h3>
      <small>{{ event.start }}</small>
  </div>
  <div class="panel-body">
      <p>{{ event.description }}</p>
      <p><a href="{{ event.get_absolute_url }}">More details</a></p>
  </div>
</div>

{% endfor %}

{% endblock %}
