{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block extrahead %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ event.title }}">
<meta name="twitter:description" content="{{ event.description }}">
<meta property="og:title" content="{{ event.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
{% endblock %}

{% block content %}

{% include "events/jsonld_event.html" with event=event location=location %}

<div>
    <h1>{{ event.title }}</h1>
    <p>{{ event.start }}</p>
    <p>{{ event.description }}</p>
    <p>{{ location_name }}</p>
    {% if location %}
        <p>{{ location.address }}</p>
    {% endif %}
</div>

{% endblock %}
