{% extends "base.html" %}

{% load static %}
{% load users %}

{% block title %}{{ event_group.title }}{% endblock %}

{% block extrahead %}
<script src="{% static "js/user-collections.js"%}"></script>
<script>
    document.collectionConfig = {
        saveItemDefault: "{% url "save-item" %}",
        removeItemDefault: "{% url "remove-item" %}"
    };
</script>

<script type="application/ld+json">
[{% for event in event_group.events.all %}{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.title }}",
  "startDate": "{{ event.start|date:'c' }}"
{% if forloop.last %}}{% else %}},{% endif %}{% endfor %}]
</script>
{% endblock %}

{% block content %}

{% spaceless %}

{% if perms.events.change_eventgroup %}
    <div class="container-fluid">
      {% if request.user|can_edit_group:event_group %}
    <div class="row bg-primary">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <a class="btn btn-default navbar-btn" href="{% url 'create-event-in-group' event_group.slug %}"><span class="glyphicon glyphicon-plus"></span> Add a talk to this series</a>
        <a style="margin-left: 10px" class="btn btn-default navbar-btn" href="{% url 'edit-event-group' event_group.slug %}">Edit series</a>
      </div>
    </div>
      {% endif %}
    </div>
{% endif %}

{% endspaceless %}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title contains-floating-buttons">
            {{ event_group.title }}
            <div class="formatting-links">
                {% include "events/event_group_plain_text_link.html" %}
                {% include "events/event_group_ics_link.html" %}
                {% if editable_collections %}
                    <div class="add-to-collections">
                        {% include "users/add_to_collections_widget.html"  with collections=editable_collections item_desc='series' %}
                    </div>
                {% endif %}
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <p>{% if event_group.description %}{{ event_group.description_html | safe }}{% else %}<i>This series does not yet have an abstract</i>{% endif %}</p>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><strong>Type</strong>: {{ event_group.get_group_type_display }}</li>
    {% if organisers %}
        <li class="list-group-item"><strong>Series organiser{{ organisers|pluralize }}</strong>:{% for organiser in organisers %}<a href="{% url 'show-person' organiser.slug %}"> {{ organiser.name }}{% if organiser.bio %} ({{ organiser.bio }}){% endif %} </a>{% if not forloop.last %}, {% endif %}
        {% endfor %}</li>
    {% endif %}
    {% if event_group.occurence %}
        <li class="list-group-item"><strong>Timing</strong>: {{ event_group.occurence }}</li>
    {% endif %}
    {% if event_group.web_address %}
        <li class="list-group-item"><strong>Web Address</strong>: <a href="{{ event_group.web_address }}">{{ event_group.web_address }}</a></li>
    {% endif %}
    {% if event_group.api_organisation %}
        <li class="list-group-item"><strong>Organising department</strong>: {{ event_group.api_organisation.name }}</li>
    {% endif %}
        {% for event in events %}
        <li class="list-group-item">
                {% if perms.events.change_event %}
                <div class="pull-right">{% if request.user|can_edit_event:event %}<a class="btn btn-default navbar-btn" href="{% url 'edit-event' event.slug %}">Edit</a>{% else %}Not authorized to edit{% endif %}</div>
                {% endif %}
                <strong>{{ event.formatted_date }} - {{ event.formatted_endtime }}</strong> ({{ event.oxford_date.formatted_nocal }}){% include "events/event_ics_link.html" %}
                {% if perms.events.change_event %}<span style="padding-left: 20px"><strong>Status</strong>:{% if event.is_published %} published{% else %}In Preparation{% endif %}</span>{% endif %}<br>
                <a href="{{ event.get_absolute_url }}">{{ event.title_display }}</a><br>
                <strong>Speaker{{ event.speakers|pluralize }}</strong>: {% for speaker in event.speakers %}<a href="{% url 'show-person' speaker.slug %}">{{ speaker.name}}{% if speaker.bio %} ({{ speaker.bio }}){% endif %}</a>{% if not forloop.last %}, {% endif %}
                {% empty %} TBA
                {% endfor %}<br>
                {% if event.location %}
                <strong>Venue</strong>: <a href="//maps.ox.ac.uk/#/places/{{ event.api_location.id }}">{{ event.api_location.name}}, {{ event.api_location.address }}</a><br>
                {% endif %}
                {% if event.location_details %}
                <strong>Venue Details</strong>: {{event.location_details}}<br>
                {% endif %}
                <strong>Organiser{{ event.organisers|pluralize }}</strong>: {% for org in event.organisers %}<a href="{% url 'show-person' org.slug %}">{{ org.name }}{% if org.bio %} ({{ org.bio }}){% endif %}</a>{% if not forloop.last %}, {% endif %}
                {% empty %} TBA
                {% endfor %}<br>
                <strong>Host{{ event.hosts|pluralize }}</strong>: {% for host in event.hosts %}<a href="{% url 'show-person' host.slug %}">{{ host.name }}{% if host.bio %} ({{ host.bio }}){% endif %}</a>{% if not forloop.last %}, {% endif %}
                {% empty %} TBA
            {% endfor %}<br>

        </li>
        {% empty %}
        <div class="panel-footer">
        {% if show_all %}
        There are no talks for this series yet
        {% else %}
        No upcoming talks to display for this series. Press the button below to show all talks.
        {% endif %}
        </div>
        {% endfor %}
        <div class="panel-footer">
        {% if show_all %}
        <strong>Showing all talks   </strong><a class="btn btn-default navbar-btn" href="{% url 'show-event-group' event_group.slug %}">Show upcoming talks only</a>
        {% else %}
        <strong>Only showing upcoming talks   </strong><a class="btn btn-default navbar-btn" href="{% url 'show-event-group' event_group.slug %}?show_all=true">Show all talks in this series</a>
        {% endif %}
        </div>
    </ul>
</div>
{% endblock %}
