{% extends "base.html" %}

{% block title %}{{ event_group.title }}{% endblock %}

{% block extrahead %}
<script type="application/ld+json">
[{% for event in event_group.events.all %}{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.title }}",
  "startDate": "{{ event.start|date:'c' }}"
{% if forloop.last %}}{% else %}},{% endif %}{% endfor %}]
</script>
{% endblock %}

{% block content %}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">{{ event_group.title }}</h3>
    </div>
    <div class="panel-body">
        <a class="pull-right btn btn-default" role="button" href="{% url 'edit-event-group' event_group.id %}">edit</a>
        <p>{{ event_group.description }}</p>
    </div>
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><strong>Type</strong>: {{ event_group.get_group_type_display }}</li>
        <li class="list-group-item"><strong>Organiser</strong>: {{ event_group.organiser.name }}</li>
    {% if event_group.occurence %}
        <li class="list-group-item"><strong>Occurence</strong>: {{ event_group.occurence }}</li>
    {% endif %}
    {% if event_group.web_address %}
        <li class="list-group-item"><strong>Web Address</strong>: {{ event_group.web_address }}</li>
    {% endif %}
    {% if event_group.api_organisation %}
        <li class="list-group-item"><strong>Department</strong>: {{ event_group.api_organisation.name }}</li>
    {% endif %}

        {% for event in event_group.events.all %}
        <li class="list-group-item"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a> ({{ event.start }})</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
