{% extends "base.html" %}

{% load static %}
{% load users %}

{% block title %}{{ event_group.title }}{% endblock %}

{% block extrahead %}
<script src="{% static "js/user-collections.js"%}"></script>
<script>
    document.collectionConfig = {
        saveItemDefault: "{% url "save-item" %}",
        removeItemDefault: "{% url "remove-item" %}"
    };
</script>

{% endblock %}

{% block content %}

{% spaceless %}

{% if perms.events.change_eventgroup %}
    <div class="container-fluid">
      {% if request.user|can_edit_group:event_group %}
    <div class="row bg-primary">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <a class="btn btn-default navbar-btn" href="{% url 'create-event-in-group' event_group.slug %}"><span class="glyphicon glyphicon-plus"></span> Add a talk to this series</a>
        <a style="margin-left: 10px" class="btn btn-default navbar-btn" href="{% url 'edit-event-group' event_group.slug %}">Edit series</a>
      </div>
    </div>
      {% endif %}
    </div>
{% endif %}

{% endspaceless %}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title contains-floating-buttons">
            {{ event_group.title }}
            <div class="formatting-links pull-right">
                {% include "events/event_group_plain_text_link.html" %}
                {% include "events/event_group_ics_link.html" %}
                {% if editable_collections %}
                    <div class="add-to-collections">
                        {% include "users/add_to_collections_widget.html"  with collections=editable_collections item_desc='series' %}
                    </div>
                {% endif %}
            </div>
        </h3>
        Editor: {{request.user}}
    </div>
    {% if event_group.description %}
    <div class="panel-body">
        <p>{{ event_group.description_html | safe }}</p>
    </div>
    {% endif %}
    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item"><strong>Type</strong>: {{ event_group.get_group_type_display }}</li>
    {% if organisers %}
        <li class="list-group-item"><strong>Series organiser{{ organisers|pluralize }}</strong>:{% for organiser in organisers %}<a href="{% url 'show-person' organiser.slug %}"> {{ organiser.name }}{% if organiser.bio %} ({{ organiser.bio }}){% endif %} </a>{% if not forloop.last %}, {% endif %}
        {% endfor %}</li>
    {% endif %}
    {% if event_group.occurence %}
        <li class="list-group-item"><strong>Timing</strong>: {{ event_group.occurence }}</li>
    {% endif %}
    {% if event_group.web_address %}
        <li class="list-group-item"><strong>Web Address</strong>: <a href="{{ event_group.web_address }}">{{ event_group.web_address }}</a></li>
    {% endif %}
    {% if event_group.api_organisation %}
        <li class="list-group-item"><strong>Organising department</strong>: <a href="{% url 'show-department' event_group.api_organisation.id %}">{{ event_group.api_organisation.name }}</a></li>
    {% endif %}
    </ul>
    {% include 'events/_event_list.html' %}
    <div class="panel-footer">
    {% if show_all %}
      <strong>Showing all talks   </strong><a class="btn btn-default navbar-btn" href="{% url 'show-event-group' event_group.slug %}">Show upcoming talks only</a>
    {% else %}
      <strong>Only showing upcoming talks   </strong><a class="btn btn-default navbar-btn" href="{% url 'show-event-group' event_group.slug %}?show_all=true">Show all talks in this series</a>
    {% endif %}
  </div>
</div>

    
       {% if event_group.public_collections_containing_this_event_group %}
           <p><strong>This series features in the following public collections</strong>:</p>
               <ul class="list-unstyled">
                   {% for collection in event_group.public_collections_containing_this_event_group %}
                       <li><a href="{{ collection.get_absolute_url }}">{{ collection.title }}</a></li>
                   {% endfor %}
               </ul>
       {% endif %}
    
    
    
{% endblock %}
