<!-- Display a single event teaser -->
<br>{{ event.title_display }}
{% if not event.is_published %}<br>Status: This talk is in preparation - details may change{% endif %}
<br>Date: {{ event.formatted_date }} - {{ event.formatted_endtime }} ({{ event.oxford_date.formatted_nocal }})

<br>Speaker{{ event.speakers|pluralize }}:
{% for speaker in event.speakers %}
    {{ speaker.name}}{% if speaker.bio %} ({{ speaker.bio }}){% endif %}{% if not forloop.last %}, {% endif %}
{% empty %} TBA
{% endfor %}

{% if event.location %}
    <br>Venue: {{ event.api_location.name}}, {{ event.api_location.address }}
{% endif %}

{% if event.location_details %}
    <br>Venue Details: {{event.location_details}}
{% endif %}

<br>Organiser{{ event.organisers|pluralize }}:
{% for org in event.organisers %}
    {{ org.name }}{% if org.bio %} ({{ org.bio }}){% endif %}{% if not forloop.last %}, {% endif %}
{% empty %} TBA
{% endfor %}

<br>Host{{ event.hosts|pluralize }}:
{% for host in event.hosts %}
    {{ host.name }}{% if host.bio %} ({{ host.bio }}){% endif %}{% if not forloop.last %}, {% endif %}
{% empty %} TBA
{% endfor %}
<br>
