{% load users %}
<!-- Display a single event teaser -->
<div class="event-teaser-wrapper">
  <div class="event-teaser-text-wrapper">
      
        <div class="pull-right">
          <span style="padding-right: 20px">
            {% if not is_search and not event.is_published %}<strong>Status</strong>: This talk is in preparation - details may change{% endif %}
          </span>
          {% if not is_search and perms.events.change_event %}
            {% if request.user|can_edit_event:event %}
              <a class="btn btn-default navbar-btn" href="{% url 'edit-event' event.slug %}">Edit</a>
            {% else %}
              Not authorized to edit
            {% endif %}
          {% endif %}
        </div>

        <strong>
            {% if show_event_time_only %}
                {{ event.formatted_time }}
            {% else %}
                {% if event.formatted_date %}
                    {{ event.formatted_date }}
                {% else %}
                    <!-- from search results -->
                    {{ event.start | date:"D, d M y" }}
                {% endif %}
            {% endif %}
        </strong>

        <b><u><a href="{% url 'show-event' event.slug %}" class="list-group-item-heading">
          {% if event.title %}
            {{ event.title }}
          {% else %}
            Untitled talk
          {% endif %}
        </a></u></b>
        {% if event.speakers %}
            <br>
            Speaker{{ event.speakers|pluralize }}:
            {% for speaker in event.speakers %}
                {% if speaker.slug %}
                <b><u><a href="{% url 'show-person' speaker.slug %}">{{ speaker.name}}{% if speaker.bio %} ({{ speaker.bio }}){% endif %}</a></u></b>{% if not forloop.last %}, {% endif %}
                {% else %}
                <!-- Search result -->
                <b>{{ speaker}}</b>{% if not forloop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if event.group_slug %}
            <!-- Search Results -->
            <br>
            Part of: <a href="{% url 'show-event-group' event.group_slug %}">event.group</a>
        {% else %}
            {% if event.group %}
              <br>
              Part of: <a href="{{ event.group.get_absolute_url }}">{{ event.group.title }}</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="formatting-links-wrapper">
        {% include "events/event_ics_link.html" %}
    </div>

</div>
