
<div class="panel-group" data-parent="collapse-menu-group">

      <div id="collapse-browse" class="panel-collapse collapse" data-parent="collapse-menu-group">
        <ul class="nav nav-list well">
          <li>
            <a href="{% url 'browse_events' %}">All Talks</a>
          </li>
          <li>
            <a href="{% url 'list-event-groups' %}">Lecture/Seminar Series</a>
          </li>
          <li>
            <a href="{% url 'list-public-lists' %}">Talk Collections</a>
          </li>
          <li>
            <a href="{% url 'browse-departments' %}">Departments</a>
          </li>
          <!--
          FB 21/07/20 - Commenting out since updating to Java 11 jdk broke the SKOS suggester
          <li>
            <a href="{% url 'browse-topics' %}">Topics</a>
          </li>
          -->
        </ul>
      </div>
</div>
