{% extends "base.html" %}

{% block title %}{{ person.name }}{% endblock %}


{% block content %}

<br>Name: {{ person.name }}
{% if person.bio %}
    <br>{{ person.bio }}
{% endif %}
{% if person.web_address %}
    <br>{{ person.web_address }}
{% endif %}
<br>
{% if speaker_events %}
    <br>Events this person is speaking at:<br>
    {% include 'events/_event_list.txt.html' with show_event_time_only=True grouped_events=grouped_speaker_events %}
{% endif %}

{% if host_events %}
    <br>Events this person is hosting:<br>
    {% include 'events/_event_list.txt.html' with show_event_time_only=True grouped_events=grouped_host_events %}
{% endif %}

{% if organiser_events %}
    <br>Events this person is organising:<br>
    {% include 'events/_event_list.txt.html' with show_event_time_only=True grouped_events=grouped_organiser_events %}
{% endif %}

{% endblock %}
