{% extends "base.html" %}

{% block title %}{{ person.name }}{% endblock %}


{% block content %}

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ person.name }}
            <div class="formatting-links pull-right">
                 {% include "events/person_plain_text_link.html" %}
                 {% include "events/person_ics_link.html" %}
            </div>
        </h3>
    </div>
    <div class="panel-body">
        {% if request.tuser %}
            <a class="pull-right btn btn-default" role="button" href="{% url 'edit-person' person.slug %}">edit</a>
        {% endif %}
        {% if person.bio %}
        <p>{{ person.bio }}</p>
        {% endif %}
        {% if person.web_address %}
        <p><a href="{{ person.web_address }}" target="_blank">{{ person.web_address }}</a></p>
        {% endif %}
    </div>

    {% if speaker_events %}
      <strong>Events this person is speaking at:</strong><br>
      {% include 'events/_event_list.html' with show_event_time_only=True grouped_events=grouped_speaker_events %}
    {% endif %}
    {% if host_events %}
      <strong>Events this person is hosting:</strong><br>
      {% include 'events/_event_list.html' with show_event_time_only=True grouped_events=grouped_host_events %}
    {% endif %}
    {% if organiser_events %}
      <strong>Events this person is organising:</strong><br>
      {% include 'events/_event_list.html' with show_event_time_only=True grouped_events=grouped_organiser_events %}
    {% endif %}

</div>

{% endblock %}
