{% load bootstrap %}

    <div class="col-sm-offset-2 col-lg-offset-2 col-sm-10 col-lg-10">
        <div class="panel panel-default js-create-person-control" person-type="{{role}}">
            <div class="panel-heading">
                <a href="#" class="js-create-person">Create new person</a>
            </div>
            <div class="panel-body js-person-panel" style="display: none">
                <div class="js-person-form form-inline">
                    {{ person_form|bootstrap_horizontal }}
                    <a class="btn btn-primary js-submit-person" style="margin-left:40px" data-input-target="#id_{{prefix}}{{role}}">Add</a>
                </div>
                <div class="js-person-form-errors alert alert-danger hidden">
                </div>
            </div>
        </div>
    </div>