{% extends "base.html" %}

{% block title %}{{ person.name }}{% endblock %}


{% block content %}

<br>Name: {{ person.name }}
{% if person.bio %}
    <br>{{ person.bio }}
{% endif %}
{% if person.web_address %}
    <br>{{ person.web_address }}
{% endif %}
<br>
{% if speaker_events %}
    <br>Events this person is speaking at:<br>
{% endif %}

{% if host_events %}
    <br>Events this person is hosting:<br>
{% endif %}

{% if organiser_events %}
    <br>Events this person is organising:<br>
{% endif %}

{% if grouped_events %}
  {% include "events/_event_list.txt.html" %}
{% endif %}


{% endblock %}
