{% extends "base.html" %}

{% block title %}{{ topic.prefLabel }}{% endblock %}


{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ topic.prefLabel }}
            <div class="formatting-links">
                <a class="formatting-link plain-text-link" href="{% url 'show-topic' %}?uri={{ topic.uri }}&format=txt" title="View a plain text version of this topic">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </a>
            </div>
        </h3>
    </div>

    <ul class="list-group">
        {% for event in events.all %}
            <li class="list-group-item">{% include "events/event_teaser.html" %}</li>
        {% endfor %}
    </ul>


</div>

{% endblock %}
