{% extends "base.html" %}

{% block title %}{{ topic.prefLabel }}{% endblock %}


{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Topic: 
            {{ topic.prefLabel }}
            <div class="formatting-links pull-right">
                {% include "events/topic_plain_text_link.html" %}             </div>
        </h3>
    </div>

    {% if grouped_events %}
      {% include 'events/_event_list.html' with show_event_time_only=True %}
    {% else %}
      <i>Sorry, there are currently no talks scheduled for this topic.</i>
    {% endif %}


</div>

{% endblock %}
