.navbar .container-fluid {
    padding: 10px;
    background-color: #002147;
}

#navbar-oxford-brandmark {
    float:left;
    margin-right:10px;
}

.navbar-header a.navbar-brand {
    color: #FFF;
    font-size: 24px;
}

.navbar-default .navbar-text {
     color: #AAA;
}   

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #AAA;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #CCC;
}

/*These styles are used in the faceted navigation part of the dashboard pages*/
.filter-selected {
    border-color: #b1cbe3;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

span.filter-active {
    display: none;
}

.filter-selected>span {
    display: inline;
    float: right;
}

.nav>li>a.filter-absent {
    display: none;
}

.nav>li>a.filter-exists {
    font-size: smaller;
    font-style: italic;
    padding: 10px 0px 20px 30px;
}

/* Help text in form fields */
.helptext {
    display: block;
    margin-bottom: 8px;
}

/* ICS link within a panel */
.panel .formatting-links {
    float: right;
}
/* ICS link within a list-group */
.list-group-item .formatting-links-wrapper {
    float: right;
}
.list-group-item .formatting-link .formatting-link-text {
    display: none;
}

.event-teaser-wrapper {
    display: inline-flex;
    width: 100%;
}

.list-group-item .event-teaser-text-wrapper {
    float: left;
    width: 100%;
}
.formatting-link {
    margin-left: 15px;
    color: inherit;
    text-decoration: none;
}

a.formatting-link:hover {
    text-decoration: none;
}
