#header {
    background-color: #002147;
}

.navbar {
    margin-bottom: 0;
    border: none;
    background-color: transparent;
}
.navbar .container-fluid {
    padding: 10px;
    background-color: transparent;   
}

#navbar-oxford-brandmark {
    float:left;
    margin-right:10px;
}

.navbar-header a.navbar-brand {
    color: #FFF;
    font-size: 24px;
}
.navbar-header a.navbar-brand:hover {
    color: #CCC;
}

.navbar-default .navbar-text {
     color: #AAA;
}   

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: transparent;
}

.nav-list>li>a {
    padding: 11px 0px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #CCC;
}

.search-form {
    padding: 0;
}

.navbar-secondary .navbar-text {
     color: #666;
}   

.navbar-secondary .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-secondary .navbar-nav>li>a {
    color: #666;
}

.navbar-secondary .navbar-nav>li>a:hover {
    color: #333;
}

/*These styles are used in the faceted navigation part of the dashboard pages*/
.filter-selected {
    border-color: #b1cbe3;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

span.filter-active {
    display: none;
}

.filter-selected>span {
    display: inline;
    float: right;
}

.nav>li>a.filter-absent {
    display: none;
}

.nav>li>a.filter-exists {
    font-size: smaller;
    font-style: italic;
    padding: 10px 0px 20px 30px;
}

/* Help text in form fields */
.helptext {
    display: block;
    margin-bottom: 8px;
}

/* ICS/plain text links within a panel */
.panel .formatting-links {
    float: right;
}
/* ICS/plain text links within a list-group */
.list-group-item .formatting-links-wrapper {
    float: right;
}
.list-group-item .formatting-link .formatting-link-text,
.list-unstyled .formatting-link .formatting-link-text {
    display: none;
}

.event-teaser-wrapper {
    /*display: -webkit-inline-flex;*/
    /*display: -ms-inline-flexbox;*/
    /*display: inline-flex;*/
    display: inline-block;
    width: 100%;
}

.list-group-item .event-teaser-text-wrapper {
    float: left;
    width: 90%;
}
.formatting-link {
    margin-left: 15px;
    color: inherit;
    text-decoration: none;
}

a.formatting-link:hover {
    text-decoration: none;
}

.manage-lists-buttons {
    float: right;
    min-height: 40px;
}

/* Prevent target from being the font-awesome element for fa tags within an <a>.  eg. for add/remove event from list */
.dropdown-menu li>a.js-toggle-collection-item .fa {
    pointer-events: none;
}

.dropdown-menu>li {
    margin-left: 10px;
}

.dropdown-menu {
    min-width: 250px;
    margin-left: -90px;
}

.contains-floating-buttons {
    min-height: 40px;
}
.contains-floating-buttons.event {
    min-height: 60px;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs.nav-justified a {
  white-space: nowrap;
}
.nav-tabs.nav-justified {
  padding-bottom: 30px;
}
div.add-to-collections,
div.manage-lists-buttons {
    display: inline-block;
    margin-left: 15px;
}

.js-datetimepicker:hover,
.js-datetimepicker input:hover {
    cursor: pointer;
}

.pad-left {
    margin-left: 25px;
}

div.share-this-links {
    display: inline-block;
}
div.share-this-links span {
    vertical-align: middle;
}

.event-title {
    margin-bottom: 10px;
}

.fade-check {
    color: #fff;
}
.active-collection {
    background-color: #E4F0FC;
}

.teaser-special-message {
  color: red;
}

.teaser-speaker {
  color:black;
}

.teaser-talk-title {
  font-size: 1.1em;
}

@media (max-width: 767px) {
    #navbar-oxford-brandmark {
        margin-right: 5px;
    }
    .navbar-toggle {    
        margin-right: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-brand {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-header a.navbar-brand {
        font-size: 20px;
    }
}